<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header bg-info">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h2 class="modal-title">Enter your email</h2>
        </div><!--end modal header-->
        <div class="modal-body">
            <div class="container-fluid">
                <ng-form class="panel-body">
                    <p>Email: </p>
                    <input type="text" name="email" class="form-control" ng-model="emailInput" placeholder="someething@example.com" />
                    <br />
                </ng-form>
            </div>
        </div><!--end modal body-->
        <div class="modal-footer bg-info">
            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="sendResetPasswordEmail(emailInput)">Reset password</button>
            <button class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
        </div><!--end modal footer-->
    </div><!--end modal content-->
</div><!--end modal dialog-->
