<div ng-hide="">
    <div class="documents" ng-show="!waitUsers">
        <h2><i class="fa fa-users"></i>  Documents Management</h2>
        <!--<div class="pull-right"><a class="btn btn-primary" data-toggle="modal" data-target="#newDocumentsModal" ng-click="loadDocuments()"><strong>New Document</strong></a></div>-->
        <br /><br />
        <!--<input type="text" class="form-control pull-left" style="width: 320px; margin-bottom: 0;" placeholder="Search Users" ng-model="usersFilter">-->
            <table class="table table-striped" align="right">
                <thead>
                    <tr>
                        <th class="col-md-2" style="text-align:center"><h4>ID</h4></th>
                        <th class="col-md-3" style="text-align:center"><h4>TYPE</h4></th>
                        <th class="col-md-3" style="text-align:center"><h4>AUTHOR</h4></th>
                        <th class="col-md-2" style="text-align:center"><h4>VIEW</h4></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="document in documents">
                        <td class="col-md-2" style="text-align:center">{{document.id}}</td>
                        <td class="col-md-3" style="text-align:center">{{document.type}}</td>
                        <td class="col-md-3" style="text-align:center">{{document.author}}</td>
                        <!--<td class="col-md-2" style="text-align:center"></td>-->
                        <td class="col-md-1" style="text-align:center"><button class="btn-primary">Preview</button></td>
                    </tr>
                </tbody>
            </table>
    </div>
    <div ng-show="waitUsers">
        <div class="loader">
            <div class="loader-inner">
                <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                </div>
                <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                </div>
                <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                </div>
                <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                </div>
                <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                </div>
            </div>
        </div>
    </div>
    <!--<div id="" class="modal fade" role="dialog">
        <div ng-include="'views/modals/editUserModal.html'"></div>
    </div>-->
</div>