<div ng-hide="">
    <!-- Portfolio section
    ================================================== -->
    <section id="portfolio">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-sm-12">

                    <!-- iso section -->
                    <div class="iso-section wow fadeInUp" data-wow-delay="2.6s">
                        <!-- iso box section -->
                        <div class="iso-box-section wow fadeInUp" data-wow-delay="1s">
                            <div class="iso-box-wrapper col4-iso-box">

                                <div class="iso-box photoshop branding col-md-4 col-sm-6">
                                    <button class="portfolio-thumb" data-toggle="modal" data-target="#teamUsersModal">
                                        <img src="../images/portfolio-img1.jpg" class="img-responsive" alt="Portfolio">
                                        <div class="portfolio-overlay">
                                            <div class="portfolio-item">
                                                <i class="fa fa-link"></i>
                                                <h2>Team One</h2>
                                            </div>
                                        </div>
                                    </button>
                                </div>

                                <div class="iso-box photoshop branding col-md-4 col-sm-6">
                                    <button class="portfolio-thumb" data-toggle="modal" data-target="#teamUsersModal">
                                        <img src="../images/portfolio-img4.jpg" class="img-responsive" alt="Portfolio">
                                        <div class="portfolio-overlay">
                                            <div class="portfolio-item">
                                                <i class="fa fa-link"></i>
                                                <h2>Team Two</h2>
                                            </div>
                                        </div>
                                    </button>
                                </div>

                                <div class="iso-box photoshop branding col-md-4 col-sm-6">
                                    <button class="portfolio-thumb" data-toggle="modal" data-target="#teamUsersModal">
                                        <img src="../images/portfolio-img3.jpg" class="img-responsive" alt="Portfolio">
                                        <div class="portfolio-overlay">
                                            <div class="portfolio-item">
                                                <i class="fa fa-link"></i>
                                                <h2>Team Three</h2>
                                            </div>
                                        </div>
                                    </button>
                                </div>

                                <div class="iso-box photoshop branding col-md-4 col-sm-6">
                                    <button class="portfolio-thumb" data-toggle="modal" data-target="#teamUsersModal">
                                        <img src="../images/portfolio-img2.jpg" class="img-responsive" alt="Portfolio">
                                        <div class="portfolio-overlay">
                                            <div class="portfolio-item">
                                                <i class="fa fa-link"></i>
                                                <h2>Team Four</h2>
                                            </div>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>

</div>

<div id="teamUsersModal" class="modal fade" role="dialog">
    <div ng-include="'views/modals/teamUsersModal.html'"></div>
</div>