<div ng-hide="">
    <div class="users" ng-show="!waitUsers">
        <h2><i class="fa fa-users"></i>  Users Management</h2>
        <div class="pull-right"><a class="btn btn-primary" data-toggle="modal" data-target="#AddUser"><strong>New User</strong></a></div>
        <br /><br />
        <input type="text" class="form-control pull-left" style="width: 320px; margin-bottom: 0;" placeholder="Search Users" ng-model="usersFilter">
        <br /><br /><br /><br /><br />
        <div class="flex flex-4" ng-repeat="user in users | filter:{username:usersFilter}" style="width:250px; height:250px; display:inline-block" ng-click="transferData(user)" data-toggle="modal" data-target="#editUserModal">
            <div class="box person">
                        <img src="https://easternunionportal.com/images/icons/my-profile.png" alt="" class="img-rounded" />
                    </div>
                    <h3>{{user.username}}</h3>
                    <h3>{{user.first_name}}</h3>
                <!--    <button class="btn-primary" ng-click="deleteUser(user)">Delete</button> -->
            </div>
        </div>
    <div ng-show="waitUsers">
        <div class="loader">
            <div class="loader-inner">
                <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                </div>
                <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                </div>
                <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                </div>
                <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                </div>
                <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="editUserModal" class="modal fade" role="dialog">
        <div ng-include="'views/modals/editUserModal.html'"></div>
    </div>
    <div id="AddUser" class="modal fade" role="dialog">
        <div ng-include="'views/modals/AddUser.html'"></div>
    </div>
</div>