<!--><div ng-show="loggedIn">
</div>
<div ng-app="NwtWeb" ng-controller="usersCtrl" ng-model="x">
    <ul>
        <li ng-repeat="x in korisnici">{{x}}</li>
      
    </ul>
    <input ng-model="addMe">
    <button ng-click="addUser()">Dodaj</button>
</div>-->
<div ng-show="loggedIn">
    <div class="users" ng-show="!waitUsers">
        <h2><i class="fa fa-users"></i>  Users Management</h2>
        <div ng-show="isAdmin" class="pull-right"><a class="btn btn-primary" data-toggle="modal" data-target="#newUserModal" ng-click="loadUsers()"><strong>New User</strong></a></div>
        <br /><br />
        <table class="table table-striped" align="right">
            <thead>
                <tr>
                    <th class="col-md-2" style="text-align:center"><h4>ID</h4></th>
                    <th class="col-md-3" style="text-align:center"><h4>NAME</h4></th>
                    <th class="col-md-3" style="text-align:center"><h4>USERNAME</h4></th>
                    <th class="col-md-2" style="text-align:center"><h4>IS ADMIN</h4></th>
                    <th class="col-md-2" style="text-align:center"><h4>DELETE</h4></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td class="col-md-2" style="text-align:center">{{user.id}}</td>
                    <td class="col-md-3" style="text-align:center">{{user.name}}</td>
                    <td class="col-md-3" style="text-align:center">{{user.username}}</td>
                    <td class="col-md-2" style="text-align:center">{{user.isAdmin}}</td>
                    <td class="col-md-1" style="text-align:center"><button ng-show="isAdmin" class="btn btn-sm btn-danger" ng-click="deleteUser(user)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="waitUsers">
        <div class="loader">
            <div class="loader-inner">
                <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                </div>
                <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                </div>
                <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                </div>
                <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                </div>
                <div class="loader-line-wrap">
                    <div class="loader-line"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="newUserModal" class="modal fade" role="dialog">
        <div ng-include="'views/modals/newUserModal.html'"></div>
    </div>
</div>